Gamecore/.vs/
Gamecore/CMakeSettings.json
Gamecore/build/cmake_install.cmake
Gamecore/build/CMakeCache.txt
Gamecore/build/Makefile
Gamecore/build/CMakeFiles/
Gamecore/intermediate/
Gamecore/build/data/
.vs/
Gamecore/build/LuaVermelha.data
Gamecore/build/LuaVermelha.html
Gamecore/build/LuaVermelha.js
Gamecore/build/LuaVermelha.wasm
Gamecore/source/Lua/Lua.zip
